html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    color: var(--main-color);
    font-family: "Roboto", sans-serif;
    /* font-family: "Work Sans", sans-serif; */
    /* font-family: "Rubik Wet Paint", system-ui; */
}

& {
    --main-color: #fff;
    --gray-color: #7f7f7f;
    --bg-color-1: #000000;
    --bg-color-2: #191919;
    --bg-color-3: #8e6821;
    --bg-color-4: #b49150;
    --bg-color-5: #e5d688;
    --text-color-1: #b49150;
    --text-color-2: #ffffff99;
    --text-color-3: #ede091;
}

[id^="span-hide-"] {
    display: contents;
}

.none {
    display: none;
}

#body-bg {
    position: relative;
    width: 100%;
    height: 930px;
    overflow: hidden;
    background-image: url("../images/bg-def.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: background-image 0.5s ease;
}

#body-error {
    background-color: var(--bg-color-1);
}

.container {
    padding: 50px 200px 0px 200px;
}

.container-movie {
    padding: 50px 200px 780px 200px;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.search-block {
    position: relative;
    width: 550px;
    font-family: "Roboto", sans-serif;
}

.search-input {
    width: 100%;
    padding: 23px 30px;
    border: 2px solid var(--bg-color-4);
    border-radius: 50px;
    outline: none;
}

.search-input::placeholder {
    color: var(--text-color-2);
    font-size: clamp(14px, 1vw, 20px);
}

.search-input:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.search-icon {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.navbar .settings {
    cursor: pointer;
}

/* ! Switch checkbox */
.switch {
    margin-right: 30px;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73c0fc;
    transition: 0.4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: 0.4s;
}

.sun svg {
    position: absolute;
    top: 5px;
    left: 35px;
    z-index: 1;
    width: 24px;
    height: 24px;
    animation: rotate 15s linear infinite;
}

.moon svg {
    fill: #73c0fc;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
    animation: tilt 5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes tilt {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.input:checked + .slider {
    background-color: #183153;
}

.input:focus + .slider {
    box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
    transform: translateX(30px);
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    /* padding-bottom: 80px; */
    transform: translateY(130%);
}

.carousel-track {
    position: relative;
    display: flex;
    gap: 60px;
    width: max-content;
    z-index: 2;
    animation: scroll 50s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.card {
    width: 206px;
    height: 300px;
    flex: 0 0 auto;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    background: #111;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.carousel-container:hover .carousel-track {
    animation-play-state: paused;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0;
    transition: all 1s linear;
    z-index: 1;
    pointer-events: none;
}

/* ! MAIN */

.main {
    position: relative;
    z-index: 1000;
    background: var(--bg-color-2);
}

.main-movies {
    position: relative;
    z-index: 1000;
    background: var(--bg-color-2);
}

.container-main {
    padding: 100px 200px;
}

.main-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.more-title {
    font-size: clamp(14px, 1.5vw, 32px);
    line-height: 24px;
    font-weight: 500;
    color: var(--bg-color-4);
}

.more {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.more a {
    margin-right: 10px;
    font-size: clamp(14px, 1.2vw, 24px);
    line-height: 40px;
    font-weight: 600;
    color: var(--bg-color-4);
}

.more:hover {
    transform: translateY(-3px);
}

.main-cards__one {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 80px;
}

.main-cards__two {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.mc-content {
    width: 357px;
    height: 517px;
    border: 3px solid var(--main-color);
}

.mc-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 512px;
    position: relative;
    top: -508px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in;
    background-color: #ffffff60;
}

.mc-content:hover .mc-overlay {
    opacity: 1;
    visibility: visible;
}

.mc-overlay button {
    padding: 16px 51px;
    border: 2px solid var(--bg-color-5);
    border-radius: 16px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 1.8px;
    transition: all 0.3s ease-in;
}

.mc-overlay button:hover {
    background-color: var(--bg-color-5);
    border: 2px solid var(--bg-color-3);
}

/* ! FOOTER */

.footer {
    background: var(--bg-color-1);
}

.container-footer {
    padding: 40px 200px;
}

.footer-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    margin-right: 150px;
}

.footer-links {
    display: flex;
    gap: 180px;
    margin-right: 150px;
    margin-bottom: 35px;
}

.footer-links a {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: var(--text-color-2);
    transition: all 0.3s ease-in;
}

.footer-links a:hover {
    color: var(--main-color);
}

.footer-links li:not(:last-child) {
    margin-bottom: 25px;
}

.socials {
    display: flex;
    gap: 150px;
}

.socials a {
    transition: all 0.3s linear;
}

.socials a:hover {
    transform: scale(1.2);
}

.footer-line {
    border: 1px solid var(--text-color-2);
    margin-bottom: 30px;
}

.footer__text {
    font-size: 18px !important;
    line-height: 25.2px;
    letter-spacing: 0.9px;
    color: var(--text-color-2) !important;
}

/* !movies.html */
.container-main__movies {
    padding: 100px 200px;
}

.back-link {
    display: flex;
    justify-content: right;
    align-items: center;
    transition: all 0.2s ease-in;
}

.back-link a {
    margin-left: 10px;
    font-size: clamp(14px, 1.2vw, 24px);
    line-height: 40px;
    font-weight: 600;
    color: var(--main-color);
}

.back-link:hover {
    transform: translateY(-3px);
}

.info-movie {
    font-family: "Work Sans", sans-serif;
    color: var(--main-color);
}

.film-h1 {
    width: 561px;
    margin-bottom: 45px;
    font-size: clamp(24px, 5vw, 96px);
    color: var(--bg-color-5);
    font-family: "Rubik Wet Paint", system-ui;
}

.film-p {
    margin-bottom: 35px;
    font-size: clamp(14px, 1.2vw, 24px);

    & span {
        padding: 12px 9px;
        margin-right: 20px;
        font-size: clamp(14px, 1.2vw, 20px);
        background-color: #7ece75;
        border-radius: 10px;
    }
}

.film-h6 {
    margin-bottom: 15px;
    font-size: clamp(14px, 1.2vw, 24px);
    font-weight: 500;

    & span {
        font-size: clamp(24px, 1.9vw, 32px);
        font-weight: 700;
        color: var(--text-color-2);
    }
}

.film-h6__three {
    margin-bottom: 15px;
    font-size: clamp(14px, 1.2vw, 24px);
    font-weight: 500;
    color: var(--main-color);

    & span {
        font-size: clamp(24px, 1.9vw, 32px);
        font-weight: 700;
    }
}

.watch {
    width: 200px;
    height: 56px;
    margin-top: 65px;
    background-color: var(--bg-color-1);
    border: 2px solid var(--bg-color-5);
    border-radius: 16px;
    transition: all 0.3s linear;

    & a {
        padding: 20px 35px;
        font-size: clamp(18px, 1.4vw, 24px);
        line-height: 24px;
        letter-spacing: 1.8px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        color: var(--bg-color-4);
        transition: all 0.3s linear;
    }
}

.watch:hover {
    background-color: var(--bg-color-4);
    border: 2px solid var(--main-color);

    & a {
        color: var(--main-color);
    }
}

.mc-all {
    display: flex;
    justify-content: space-between;
}

.movie-card__info {
    margin-right: 50px;
}

.mc-title {
    margin-bottom: 40px;
    font-size: clamp(20px, 1.5vw, 36px);
    font-weight: 500;
    letter-spacing: 3.6px;
}

.mc-info {
    margin-bottom: 15px;
    font-size: clamp(14px, 1vw, 24px);
    line-height: 40px;
}

#link-text {
    display: block;
}

.mc-info__all {
    display: none;
    overflow: hidden;
    font-size: clamp(14px, 1vw, 24px);
    line-height: 40px;
}

[id^="linkCollapse-"] {
    display: none;
}

.movie-card__info a {
    font-size: clamp(14px, 1vw, 28px);
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 1.4px;
    color: var(--text-color-3);
    transition: all 0.3s ease-in;
}

.movie-card__info a:hover {
    color: var(--text-color-1);
}

.card-grade {
    width: 768px;
    height: 357px;
    margin-top: 80px;
    padding: 70px 119px 70px 50px;
    background-color: var(--bg-color-4);
    border-radius: 30px;
}

/* ! --------------------------------- Создание звезд -------------------------------- */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 50px;
}

.rating input {
    display: none;
}

.rating label {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 77px;
}

.rating label::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/icons/star.svg");
    background-size: cover;
    transition: all 0.3s ease;
}

.rating label::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../images/icons/star-hover.svg");
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.rating label span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    z-index: 2;
}

.rating input:checked ~ label::after,
.rating label:hover::after,
.rating label:hover ~ label::after {
    opacity: 1;
}

.rating label:hover::before {
    filter: brightness(1.2);
}
/* ! --------------------------------- Создание звезд -------------------------------- */

.card-grade h2 {
    margin-bottom: 15px;
    font-size: clamp(20px, 1.2vw, 36px);
    font-weight: 500;
    line-height: 40px;
}

.card-grade p {
    margin-bottom: 45px;
    font-size: clamp(14px, 1vw, 24px);
    font-weight: 500;
    line-height: 40px;
}

.movie-card h1 {
    margin-top: 150px;
    margin-bottom: 80px;
    text-align: center;
    font-size: clamp(36px, 2.5vw, 64px);
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 6.4px;
}

/* ! --------------------- Форма ------------------------ */

.container-form {
    padding: 0px 160px;
}

.movie-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 100px 0px;
    margin-bottom: 77px;
    border: 3px solid var(--bg-color-4);
    border-radius: 50px;
}

.form-name {
    width: 800px;
    height: 100px;
    padding: 31px 0px 31px 30px;
    font-size: clamp(14px, 1.5vw, 32px);
    border: 2px solid var(--bg-color-4);
    border-radius: 20px;

    &::placeholder {
        font-size: clamp(14px, 1.5vw, 32px);
        color: var(--text-color-2);
    }
}

.form-message {
    width: 800px;
    height: 250px;
    padding: 31px 0px 31px 30px;
    font-size: clamp(14px, 1.5vw, 32px);
    border: 2px solid var(--bg-color-4);
    border-radius: 20px;
    resize: none;

    &::placeholder {
        font-size: clamp(14px, 1.5vw, 32px);
        color: var(--text-color-2);
    }
}

.form-btn {
    padding: 23px 80px;
    border: 3px solid var(--bg-color-5);
    border-radius: 16px;
    transition: all 0.3s ease-in;

    & a {
        font-size: clamp(14px, 1.3vw, 24px);
        font-weight: 500;
        line-height: 24px;
        transition: all 0.3s ease-in;
    }
}

.form-btn:hover {
    background-color: var(--bg-color-5);
    border: 3px solid var(--bg-color-3);

    & a {
        color: var(--bg-color-3);
    }
}

/* ! --------------------- Форма ------------------------ */

.block-reviews {
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.block-reviews a {
    margin-right: 10px;
    font-size: clamp(20px, 1.2vw, 36px);
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 3.6px;
}

.block-reviews:hover {
    transform: translateY(-10px);
}

.reviews-cards {
    display: flex;
    align-items: center;
    gap: 40px;
}

.rc-one {
    width: 735px;
    padding: 40px 60px;
    background-color: var(--bg-color-4);
    border-radius: 50px;
}

.rc-one h6 {
    margin-bottom: 10px;
    font-size: clamp(14px, 2vw, 32px);
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 1.6px;
}

.raiting {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.raiting span {
    font-size: clamp(14px, 1.2vw, 24px);
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 1.2px;
    color: var(--text-color-2);
}

.rate {
    width: 85px;
    height: 85px;
    background-color: var(--bg-color-3);
    border-radius: 15px;
    margin-bottom: 25px;
}

.rate p {
    padding: 15px 30px;
    font-size: clamp(20px, 2vw, 40px);
    font-weight: 500;
    line-height: 56px;
}

.rc-text {
    width: 530px;
    margin-bottom: 25px;
    font-size: clamp(14px, 1.2vw, 20px);
    font-weight: 500;
}

.rc-one a {
    font-size: clamp(14px, 1.2vw, 24px);
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 1.2px;
    color: var(--text-color-3);
    transition: all 0.3s ease-in;
}

.rc-one a:hover {
    color: var(--bg-color-3);
}

/* ! --------------------------- ERROR 404 PAGE ---------------------- */
.main-error {
    padding: 0px 200px 140px 200px;
    background-color: var(--bg-color-1);
}

.tv-container {
    padding: 87px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tv-screen {
    position: relative;
    width: 600px;
    height: 400px;
    background: black;
    border: 10px solid #333;
    border-radius: 10px;
    box-shadow:
        0 0 20px rgba(0, 0, 0, 0.8),
        inset 0 0 50px rgba(255, 255, 255, 0.2);
    overflow: hidden;
}

.static {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        0deg,
        #000,
        #000 1px,
        #111 1px,
        #fff 3px,
        #333 4px
    );
    animation: flicker 0.1s steps(20) infinite;
    z-index: 1;
}

.error-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px black;
    z-index: 2;
    animation: glitch 0.5s infinite;
}

.tv-stand {
    width: 250px;
    height: 15px;
    background: #333;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

@keyframes flicker {
    0% {
        opacity: 0.8;
        transform: scaleY(1);
    }
    50% {
        opacity: 1;
        transform: scaleY(1.01);
    }
    100% {
        opacity: 0.7;
        transform: scaleY(0.99);
    }
}

@keyframes glitch {
    0% {
        transform: translate(-50%, -50%) skewX(5deg);
        opacity: 0.9;
    }
    25% {
        transform: translate(-50%, -50%) skewX(-5deg);
        opacity: 0.8;
    }
    50% {
        transform: translate(-50%, -50%) skewX(0deg);
        opacity: 1;
    }
    75% {
        transform: translate(-50%, -50%) skewX(-5deg);
        opacity: 0.8;
    }
    100% {
        transform: translate(-50%, -50%) skewX(5deg);
        opacity: 0.9;
    }
}

.block-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-btn {
    width: 314px;
    height: 88px;
    border: 3px solid var(--text-color-3);
    border-radius: 16px;
    transition: all 0.3s ease-in;
}

.error-btn a {
    padding: 32px 60px;
    font-size: clamp(14px, 1.2vw, 22px);
    line-height: 24px;
    transition: all 0.3s ease-in;
}

.error-btn:hover {
    background-color: var(--bg-color-5);
    border: 3px solid var(--bg-color-3);
}

.error-btn a:hover {
    color: var(--bg-color-3);
}
/* ! --------------------------- ERROR 404 PAGE ---------------------- */

/* ! ----------------------------------------- МЕДИА ЗАПРОСЫ ----------------------------------- */

@media (min-width: 1080px) and (max-width: 1796px) {
    /* ! home */
    .logo {
        width: 230px;
        margin-right: 75px;
    }

    .navbar {
        gap: 30px;
    }

    .mc-content {
        width: 280px;
        height: 406px;
    }

    .switch {
        display: none;
    }

    .container-main {
        padding: 80px 100px;
    }

    .main-cards__one {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        gap: 15px;
        margin-bottom: 40px;
    }

    .mc-content {
        width: 275px;
        height: 398px;
        justify-self: center;
    }

    .mc-content img {
        width: 100%;
        height: auto;
        display: block;
    }

    .main-cards__two {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        gap: 15px;
        margin-bottom: 40px;
    }

    .mc-overlay {
        width: 273px;
        height: 398px;
        top: -395px;
    }

    .mc-overlay button {
        padding: 10px 36px;
        font-size: 14px;
        font-weight: 500;
    }

    .container-footer {
        padding: 20px 100px;
    }

    .footer-logo {
        width: 230px;
        margin-right: 75px;
    }

    .footer-links {
        gap: 90px;
        margin-right: 75px;

        & a {
            font-size: 16px;
        }
    }

    .socials {
        gap: 75px;

        & a img {
            width: 50px;
        }
    }

    .footer-line {
        margin-bottom: 15px;
    }

    .footer__text {
        font-size: 14px !important;
    }
    /* ! home */
}

@media (min-width: 1129px) and (max-width: 1444px) {
    /* ! home */
    .mc-content {
        width: 225px;
        height: 327px;
    }

    .mc-overlay {
        width: 220px;
        height: 323px;
        top: -320px;
    }
    /* ! home */
}

@media (min-width: 1080px) and (max-width: 1129px) {
    /* ! home */
    .mc-content {
        width: 200px;
        height: 289px;
    }

    .mc-overlay {
        width: 195px;
        height: 285px;
        top: -283px;
    }

    /* ! home */
}

@media (min-width: 768px) and (max-width: 1080px) {
    /* ! home */
    #body-bg {
        position: relative;
        width: 100%;
        height: 630px;
        overflow: hidden;
        background-image: url("../images/bg-def.png");
        background-repeat: no-repeat;
        /* background-size: cover; */
        background-attachment: fixed;
        transition: background-image 0.5s ease;
    }

    .container {
        padding: 25px 100px;
    }

    .navbar {
        gap: 30px;
    }

    .search-icon {
        width: 20px;
        height: 20px;
    }

    .switch {
        display: none;
    }

    .carousel-track {
        gap: 30px;
    }

    .card {
        width: 140px;
        height: auto;
    }

    .container-main {
        padding: 50px 100px;
    }

    .main-info {
        padding: 25px 0px;
    }

    .main-cards__one {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(278px, 1fr));
        gap: 10px;
        margin-bottom: 40px;
    }

    .mc-content {
        width: 200px;
        height: 290px;
        justify-self: center;
    }

    .mc-overlay {
        width: 195px;
        height: 290px;
        top: -285px;
    }

    .mc-overlay button {
        padding: 10px 36px;
        font-size: 14px;
        font-weight: 500;
    }

    .main-cards__two {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(278px, 1fr));
        gap: 10px;
        margin-bottom: 40px;
    }

    .container-footer {
        padding: 10px 50px;
    }
    
    .footer-logo {
        width: 170px;
        margin-right: 75px;
    }

    .footer-links {
        gap: 45px;
        margin-right: 45px;
        margin-bottom: 15px;

        & a {
            font-size: 14px;
        }
    }

    .footer-links li:not(:last-child) {
        margin-bottom: 10px;
    }

    .socials {
        gap: 50px;

        & a img {
            width: 40px;
        }
    }

    .footer-line {
        margin-bottom: 10px;
    }

    .footer__text {
        font-size: 14px !important;
    }
    /* ! home */
}

@media (min-width: 420px) and (max-width: 768px) {
    /* ! home */
    .container {
        padding: 25px 50px;
    }

    .logo {
        width: 200px;
    }

    .search-block {
        width: 300px;
    }

    .search-input {
        display: none;
    }

    .search-icon {
        width: 30px;
        height: clamp(20px, 4vw, 30px);
    }

    .switch {
        display: none;
    }

    .navbar .settings {
        width: 45px;
        height: clamp(30px, 5.2vw, 45px);
    }

    .carousel-container {
        transform: translateY(190%);
    }

    .carousel-track {
        gap: 30px;
    }

    .card {
        width: 180px;
        height: auto;
    }

    .container-main {
        padding: 25px 50px;
    }

    .main-info {
        padding: 25px 0px;
    }

    .main-cards__one {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(278px, 1fr));
        gap: 10px;
        margin-bottom: 20px;
    }

    .mc-content {
        width: 200px;
        height: 290px;
        justify-self: center;
    }

    .mc-overlay {
        width: 195px;
        height: 290px;
        top: -285px;
    }

    .mc-overlay button {
        padding: 10px 36px;
        font-size: 14px;
        font-weight: 500;
    }

    .main-cards__two {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(278px, 1fr));
        gap: 10px;
        margin-bottom: 20px;
    }

    .container-footer {
        padding: 10px 50px;
    }
    
    .footer-logo {
        width: clamp(100px, 17vw, 150px);
        margin-right: 0;
    }

    .footer-links {
        gap: 15px;
        margin-right: 0px;
        margin-bottom: 10px;

        & a {
            font-size: clamp(8px, 1.6vw, 14px);
        }
    }

    .footer-links li:not(:last-child) {
        margin-bottom: 10px;
    }

    .socials {
        gap: clamp(15px, 3vw, 25px);

        & a img {
            width: 25px;
        }
    }

    .footer-line {
        margin-bottom: 5px;
    }

    .footer__text {
        font-size: clamp(7px, 1.6vw, 14px) !important;
    }
    /* ! home */
}

@media (min-width: 420px) and (max-width: 576px) {
    /* ! home */
    .socials {
        display: grid;
        margin-bottom: 10px;
    }
    /* ! home */
}

/* ! ----------------------------------------- МЕДИА ЗАПРОСЫ ----------------------------------- */
